@font-face {
    font-family: 'MavenPro-Regular';
    src: url('mavenpro-regular-webfont.eot');
    src: url('mavenpro-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('mavenpro-regular-webfont.woff') format('woff'),
         url('mavenpro-regular-webfont.ttf') format('truetype'),
         url('mavenpro-regular-webfont.svg#maven_proregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MavenPro-Semibold';
    src: url('mavenpro-medium-webfont.eot');
    src: url('mavenpro-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('mavenpro-medium-webfont.woff') format('woff'),
         url('mavenpro-medium-webfont.ttf') format('truetype'),
         url('mavenpro-medium-webfont.svg#maven_promedium') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MavenPro-Bold';
    src: url('mavenpro-bold-webfont.eot');
    src: url('mavenpro-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('mavenpro-bold-webfont.woff') format('woff'),
         url('mavenpro-bold-webfont.ttf') format('truetype'),
         url('mavenpro-bold-webfont.svg#maven_probold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MavenPro-100';
    src: url('mavenprolight-100-webfont.eot');
    src: url('mavenprolight-100-webfont.eot?#iefix') format('embedded-opentype'),
         url('mavenprolight-100-webfont.woff') format('woff'),
         url('mavenprolight-100-webfont.ttf') format('truetype'),
         url('mavenprolight-100-webfont.svg#maven_pro_light100') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MavenPro-200';
    src: url('mavenprolight-200-webfont.eot');
    src: url('mavenprolight-200-webfont.eot?#iefix') format('embedded-opentype'),
         url('mavenprolight-200-webfont.woff') format('woff'),
         url('mavenprolight-200-webfont.ttf') format('truetype'),
         url('mavenprolight-200-webfont.svg#maven_pro_light200') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MavenPro-300';
    src: url('mavenprolight-300-webfont.eot');
    src: url('mavenprolight-300-webfont.eot?#iefix') format('embedded-opentype'),
         url('mavenprolight-300-webfont.woff') format('woff'),
         url('mavenprolight-300-webfont.ttf') format('truetype'),
         url('mavenprolight-300-webfont.svg#maven_pro_light300') format('svg');
    font-weight: normal;
    font-style: normal;
}